%section#introduction
  %h2 We facilitate ad-hoc co-working sessions for independents.
  
  %article
    %h3 Share Your Presence
    %p
      Check in to your favorite coworking venues. Pellentesque nibh felis, eleifend id, commodo in, interdum vitae, leo. Praesent eu elit. Ut eu ligula. 
  %article
    %h3 Meet Other Coworkers
    %p
      Find other co-coworkers in your like of work to collaborate with. [Map Here]
  %article
    %h3 Location Service Award
    %p
      Connect your account via Facebook, Foursquare, or Gowalla and integrate check-ins from these services to announce your presence.
      = link_to "Get Started Now", new_user_registration_path, :id => "get-started"


%section#cities
  %ul
    - @cities.each do |city|
      %li.city= link_to city, city_path(city)
    %li
      Your city not here? 
      = link_to "Suggest a City", new_city_suggestion_path
    
