%section
  %h1 Coworking Nomads
  %h2 Ad-hoc coworking for independent workers.

  %p
    We're building an awesome community of ad-hoc coworkers making use of coffee shops and other venues around town to work.
  %p
    Stay tuned!
    
  %p Coworking Nomads is a #{link_to "Ben Hughes", "http://benhughes.name/"} production.
