-# CSS : implied media="all"
= stylesheet_link_tag "style.css", :media => "all"
= stylesheet_link_tag "handheld.css", :media => "handheld"

/[if lt IE 7]
  = stylesheet_link_tag "ie6.css", :media => "screen, projection"

-# Append your own using content_for :stylesheets
= yield :stylesheets
